# Carpeta de compilación
/build/

# Archivos temporales de editor/IDE
*.swp
*.swo
.vscode/
*.user
*.o

# Directorio de bloques (datos binarios)
/disk/blocks/

# Archivos generados por CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
/storage/

# ignorar carpetas de nodos (datos temporales)
node0/
node1/
node2/
node3/
